
.video-title{
font-family: Arial;
font-weight: bold;
font-size: 18px;
width: 300px;
line-height:24px;
margin-bottom: 0;
}
.apple-text{
    font-family: arial;
    font-size: 15px;
    background-color: red;
    color: white;
    text-align:center;
    padding-top: 19px;
    padding-bottom: 19px; 
    

}

.video-stats{
    font-family:arial;
    font-size:14px;
    color: gray;
    margin-top: 0;
}

.video-aurthur{
    font-family: Arial;
    color:gray;
}

.video-text{
    font-family: ariel;
    font-size:14px;
    width:280px;
    line-height: 22px ;
    margin-bottom:100px;          ;        
}




